/*FONT STYLES*/
@import url('https://fonts.googleapis.com/css?family=Ribeye+Marrow');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
/*BODY STYLES*/
body {
	background-image: url('../img/mountainhero.jpeg');
	background-size: cover;
}

/*HERO SECTION*/

.hero {
	margin-bottom: 70px;
	height: 400px;
	/*background-image: url('../img/mountainhero.jpeg');*/
	/*background-size: cover;*/
}

#nametag {
	font-family: 'Ribeye Marrow', cursive;
	font-size: 28px;
	color: #fff;
	margin-top: 160px;
}



#nametag-info {
	font-size: 15px;
	color: #fff;
	font-family: 'Architects Daughter', cursive;
	/*margin-top: 100px;*/
}


@media screen and (min-width: 960px) {
	#nametag {
		font-size: 80px;
	}

	#nametag-info {
		font-size: 35px;
	}
}

/*NAVBAR STYLES*/
.navbar-default {
  background-color: #2076c7;
  border-color: #a3a1ae;
}
.navbar-default .navbar-brand {
  color: #ecf2f4;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf2f4;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf2f4;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #2076c7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf2f4;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecdbff;
  background-color: #a3a1ae;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #a3a1ae;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ecdbff;
  background-color: #a3a1ae;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #a3a1ae;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #a3a1ae;
}
.navbar-default .navbar-toggle {
  border-color: #a3a1ae;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #a3a1ae;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf2f4;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf2f4;
}
.navbar-default .navbar-link {
  color: #ecf2f4;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf2f4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #a3a1ae;
  }
}

/*HERO 3 IMAGES/INFO*/

.thumbnail {
  padding: 0 0 15px 0;
  margin: 15px;
  -webkit-box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.5);
}

.thumbnail img {
  margin-bottom: 10px;
}

.page-header {
		color: #fff;
		padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
		font-size: 15px;
}

@media screen and (min-width: 960px) {
	.page-header {
		font-size: 30px;
	}
}
